# Default settting for base_dir
{% set base_dir = salt['pillar.get']('graylog:lookup:graylog:base_dir', '/usr/share') %}

# Setttings based on the server name
{% set default_config = salt.grains.filter_by({
  'default':
  {
    'graylog':
    {
      'restart_service_after_state_change': True,
      'use_redirection': False,
      'base_dir': base_dir,
      'is_master': 'false',
      'node_id_file': '/etc/graylog/server/node-id',
      'startup_overrides_path': '/etc/sysconfig/graylog-server',
      'password_secret': '',
      'root_username': 'admin',
      'root_password_sha2': '',
      'root_email': '',
      'root_timezone': 'UTC',
      'bin_dir': base_dir + '/graylog-server/bin',
      'data_dir': '/var/lib//graylog-server',
      'plugin_dir': base_dir + '/graylog-server/plugin',
      'use_plugins': 'false',
      'use_addon_plugins': False,
      'install_java': False,
      'addon_plugins': [],
      'http':
      {
        'bind_address': '127.0.0.1:9000',
        'publish_uri': 'http://192.168.1.1:9000/',
        'external_uri': 'http://192.168.1.1:9000/',
        'enable_cors': 'true',
        'enable_gzip': 'true',
        'max_header_size': '8192',
        'thread_pool_size': '16',
        'enable_tls': 'false',
        'tls_cert_file': '/path/to/graylog.crt',
        'tls_key_file': '/path/to/graylog.key',
        'tls_key_password': 'secret',
      },
      'trusted_proxies': '127.0.0.1/32, 0:0:0:0:0:0:0:1/128',
      'rotation_strategy': 'count',
      'no_retention': 'false',
      'retention_strategy': 'delete',
      'allow_leading_wildcard_searches': 'true',
      'allow_highlighting': 'true',
      'elasticsearch':
      {
        'hosts': 'http://127.0.0.1:9200',
        'connect_timeout': '10s',
        'socket_timeout': '60s',
        'idle_timeout': '-1s',
        'max_total_connections': '20',
        'max_total_connections_per_route': '2',
        'max_retries': '2',
        'discovery_enabled': 'true',
        'discovery_filter': 'rack:42',
        'discovery_frequency': '30s',
        'compression_enabled': 'true',
        'max_docs_per_index': '20000000',
        'max_size_per_index': '1073741824',
        'max_time_per_index': '1d',
        'disable_version_check': 'true',
        'max_number_of_indices': '20',
        'shards': '4',
        'replicas': '0',
        'index_prefix': 'graylog',
        'template_name': 'graylog-internal',
        'analyzer': 'standard',
        'request_timeout': '2m',
        'index_optimization_timeout': '1h',
        'index_optimization_jobs': '20',
      },
      'index_ranges_cleanup_interval': '1h',
      'index_field_type_periodical_interval': '1h',
      'output_batch_size': '500',
      'output_flush_interval': '1',
      'output_fault_count_threshold': '5',
      'output_fault_penalty_seconds': '30',
      'processbuffer_processors': '5',
      'outputbuffer_processors': '3',
      'outputbuffer_processor_keep_alive_time': '5000',
      'outputbuffer_processor_threads_core_pool_size': '3',
      'outputbuffer_processor_threads_max_pool_size': '30',
      'udp_recvbuffer_sizes': '1048576',
      'processor_wait_strategy': 'blocking',
      'ring_size': '65536',
      'inputbuffer_ring_size': '65536',
      'inputbuffer_processors': '2',
      'inputbuffer_wait_strategy': 'blocking',
      'message_journal':
      {
        'enabled': 'true',
        'dir': '/var/lib/graylog-server/journal',
        'max_age': '12h',
        'max_size': '5gb',
        'flush_age': '1m',
        'flush_interval': '1000000',
        'segment_age': '1h',
        'segment_size': '100mb',
      },
      'async_eventbus_processors': '4',
      'lb_recognition_period_seconds': '0',
      'lb_throttle_threshold_percentage': '95',
      'stream_processing_timeout': '2000',
      'stream_processing_max_faults': '3',
      'alert_check_interval': '60',
      'output_module_timeout': '10000',
      'stale_master_timeout': '2000',
      'shutdown_timeout': '30000',
      'mongodb':
      {
        'uri': 'mongodb://grayloguser:secret@localhost:27017/graylog',
        'max_connections': '1000',
        'threads_allowed_to_block_multiplier': '5',
      },
      'transport_email':
      {
        'enabled': 'false',
        'hostname': 'mail.domain.tld',
        'port': '465',
        'use_auth': 'true',
        'use_tls': 'true',
        'use_ssl': 'true',
        'auth_username': 'you@domain.tld',
        'auth_password': 'secret',
        'subject_prefix': '[graylog]',
        'from_email': 'graylog@domain.tld',
        'web_interface_url': 'http://graylog00.domain.tld',
      },
      'http_connect_timeout': '5s',
      'http_read_timeout': '10s',
      'http_write_timeout': '10s',
      'http_proxy_uri': '',
      'http_non_proxy_hosts': '',
      'disable_index_optimization': 'true',
      'index_optimization_max_num_segments': '1',
      'gc_warning_threshold': '1s',
      'ldap_connection_timeout': '2000',
      'disable_sigar': 'false',
      'dashboard_widget_default_cache_time': '10s',
      'field_list_limit': '150',
      'timeout_default': '15s',
      'proxied_requests_thread_pool_size': '32',
      'log4j2_log_path': '/var/log/graylog-server',
      'input_source': [],
      'heap_size': '1g',
    },
  },
  'graylog00':
  {
    'graylog':
    {
      'is_master': 'true',
    },
  },
}, grain='host', base='default') %}

# Configure firewall settings specific for this instance
{% set os_lookup = {
  'RedHat':
  {
    'firewall':
    {
      'firewall_include': 'graylog-firewalld',
      'firewalld':
      {
        'status': salt['pillar.get']('firewall:firewalld:status', 'InActive')
      }
    }
  },
  'Debian':
  {
    'firewall':
    {
      'firewall_include': 'graylog-iptables',
      'iptables':
      {
        'status': salt['pillar.get']('firewall:iptables:status', 'InActive')
      }
    }
  }
} %}
{% set firewall = os_lookup.get(grains.os_family, {}) %}

# Get settings for os_family
{% set os_lookup = {
  'RedHat':
  {
    'package':
    {
      'latest_tarball': 'graylog-3.0.0.tgz',
      'install_type': 'package',
      'repo_version': '3.0',
      'repo_baseurl': 'https://packages.graylog2.org/repo/el/stable/3.0/$basearch/',
      'repo_gpgkey': 'file:///etc/pki/rpm-gpg/RPM-GPG-KEY-graylog',
      'java_pkg_name': 'java-1.8.0-openjdk-headless'
    }
  },
  'Debian':
  {
    'package':
    {
      'latest_tarball': 'graylog-3.0.0.tgz',
      'install_type': 'package',
      'repo_version': '3.0',
      'repo_baseurl': 'deb https://packages.graylog2.org/repo/debian/ stable 3.0',
      'repo_gpgkey': 'https://packages.graylog2.org/repo/debian/keyring.gpg',
      'java_pkg_name': 'openjdk-8-jdk-headless'
    }
  }
} %}
{% set os_map = os_lookup.get(grains.os_family, {}) %}

# Update the default config
{% do default_config.update(firewall) %}
{% do default_config.update(os_map) %}

# Merge the default settings with pillar data
{% set host_lookup = salt['pillar.get']('graylog:lookup', default=default_config, merge=True) %}
